{# templates/card/cardnav.html.twig #}

<nav class="subnav">
    <a href="{{ path("card-deck") }}">Sortera</a>
    <a href="{{ path("card-api-deck") }}">JSON |</a>
    <a href="{{ path("card-deck-shuffle") }}">Blanda</a>
    <a href="{{ path("card-api-deck-shuffle") }}">JSON |</a>
    <a href="{{ path("card-deck-draw") }}">Dra ett kort</a>
    <a href="{{ path("card-api-deck-draw") }}">JSON |</a>
    <a href="{{ path("card-deck-draw-number") }}">Dra kort</a>
    <a href="{{ path("card-api-deck-draw-number") }}">JSON |</a>
    <a href="{{ path("card-deck-deal-players-cards") }}">Ge</a>
    <a href="{{ path("card-api-deck-deal-players-cards") }}">JSON |</a>
    <a href="{{ path("card-deck2") }}">Sortera/jokrar</a>
</nav>
